<div class="result-block">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="card card-header result-block">
    <strong>Symbol: </strong> <%= @stock.ticker %>
    <strong>Symbol: </strong> <%= @stock.name %>  
    <strong>Symbol: </strong> <%= @stock.last_price %>
  </div>
<% end %>